<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbs.board.dao.BbsDao">

	<select id="getList" resultType="com.bbs.board.dto.BbsDto">
		SELECT
		 seq, title, USER, detl
		FROM 
		 tb_bbs 
	</select>

</mapper>